@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.App {
  display: flex;
}

.item__inner {
  padding: 52px 63px;
  background-color: #FAFAFA;
  border-right: 1px solid #A5A5A5;
}

.item__header {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  padding-bottom: 24px;
}

.item {
  list-style: none;
  border-bottom: 1px solid #A5A5A5;
  padding-top: 40px;
  padding-bottom: 29px;
}

.item__title {
  display: flex;
  align-items: center;
  padding-bottom: 29px;
}

.item__title h3 {
  padding-right: 23px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.item__props {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
  display: flex;
}

.item__props span {
  color: #2962FF;
}

.item__prop {
  display: flex;
  /* padding-right: 200px; */
  width: 425px;
}

.prop-title {
  padding-right: 104px;
}

.pagination {
  width: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  padding-top: 52px;
}


.filters {
  padding: 52px 33px;
}

.filters__header {
  padding-bottom: 48px;
}

.filters__header {
  font-size: 24px;
  font-weight: 400;
}

.filter__name_input {
  position: relative;
}

.filter__name-label {
  position: absolute;
}

.filter__name-input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  min-width: 329px;
  width: auto;
  padding-bottom: 7px;
  outline: none;
}

.filter__type {
  font-weight: 700;
}

.filter__type input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #DADADA;
  transition: 0.2s all linear;
  outline: none;

}

.filter__type input:checked {
  border: 6px solid black;
}